@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.img-fluid {
    max-height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

  .SliderContainer {
    width: 85%;
  }
  
  .slick-slide {
    padding: 10px;
    display: table-cell;
    margin-bottom: 50px;
  }
